# IntelliJ project files
*.iml
.idea/inspectionProfiles/*
misc.xml
modules.xml
other.xml
vcs.xml
workspace.xml
out
gen
.DS_Store

# Jupyter Notebook
*/.ipynb_checkpoints/*

# Secure Files
.pypirc

# Data Files
#/docs_src/data/*

# Build Files / Directories
build/*
dist/*
fast_rl.egg-info/*